.btn {
	--btn-text-color: var(--black);
	--btn-background-color: transparent;
	--btn-border-color: transparent;

	display: inline-block;
	padding: 6px 20px;
	border: 1px solid var(--btn-border-color);
	border-radius: var(--border-radius-2x);
	background-color: var(--btn-background-color);
	color: var(--btn-text-color);
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	transition:
		background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms,
		border-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms;
	user-select: none;

	&:disabled {
		cursor: default;
	}

	&--grey {
		--btn-background-color: var(--grey-200);
		--btn-border-color: var(--grey-400);

		&:hover {
			--btn-background-color: var(--grey-300);
		}

		&:disabled {
			--btn-background-color: var(--grey-300);
			--btn-border-color: var(--grey-300);
			--btn-text-color: var(--grey-400);
		}
	}

	&--outlined-red {
		--btn-text-color: var(--red-900);
		--btn-border-color: var(--red-900);

		&:hover {
			--btn-background-color: var(--red-50);
		}
	}
}
