.spinner {
	--spinner-height: 40px;
	--spinner-width: 40px;

	text-align: center;

	&__figure {
		position: relative;
		display: inline-block;
		width: var(--spinner-width);
		height: var(--spinner-height);
		vertical-align: middle;

		&--circle {
			&::before,
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: var(--spinner-width);
				height: var(--spinner-height);
				border-radius: 50%;
				content: "";
			}

			&::before {
				border: 3px solid var(--grey-400);
			}

			&::after {
				border-width: 3px;
				border-style: solid;
				border-color: var(--red-900) transparent transparent;
				animation: spinner-circle .6s linear;
				animation-iteration-count: infinite;
			}
		}

		&--bounce {
			--spinner-height: 6px;
			--spinner-width: 6px;

			margin: 0 2px;
			border-radius: 100%;
			background-color: var(--black);
			animation: spinner-bounce 1.4s ease-in-out 0s infinite both;

			&:nth-child(1) {
				animation-delay: -.32s;
			}

			&:nth-child(2) {
				animation-delay: -.16s;
			}
		}
	}
}

@keyframes spinner-circle {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes spinner-bounce {
	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}
