.slider {
  position: relative;

  width: 310px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;

  cursor: pointer;

  @media only screen and (min-width: 640px) {
    width: 620px;
  }

  @media only screen and (min-width: 940px) {
    width: 930px;
  }

  @media only screen and (min-width: 1280px) {
    width: 100%;
  }

  &__track {
    display: flex;
    width: 2480px;

    cursor: pointer;

    user-select: none;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  &__btn {
    width: 60px;
    padding: 10px;

    font-size: 14px;

    border: 1px solid #cccccc;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;

    &:hover:not(:disabled) {
      background-color: #f8f8f8;
    }

    &:focus:not(:disabled) {
      background-color: #e9e9e9;
    }
  }

  &__current-page {
    padding: 0 15px;

    color: var(--gray);

    user-select: none;
  }

  &__btn {
    &:disabled {
      cursor: default;
    }
  }
}
