.card {
	--card-width: 290px;

	display: flex;
	flex-direction: column;
	margin: 0 10px;
	width: var(--card-width);
	border: 1px solid var(--grey-400);
	border-top: 0;
	border-radius: var(--border-radius);

	&__thumbnail {
		margin: 0 -1px;
		width: var(--card-width);
		height: 216px;
		background-color: var(--grey-400);
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}

	&__body {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 20px;
	}

	&__metadata,
	&__author {
		margin-bottom: 8px;
		color: var(--grey-600);
		font-size: 12px;
		line-height: 18px;
	}

	&__author {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__author-link {
		color: var(--grey-600);
		text-decoration: none;
		transition: color .15s ease-in-out;

		&:hover {
			color: var(--red-900);
		}
	}

	&__views {
		&::after {
			display: inline-block;
			margin: 0 6px;
			content: "•";
		}
	}

	&__title {
		overflow: hidden;
		margin-bottom: 2px;
		max-height: 40px;
		font-size: 16px;
		line-height: 20px;
	}

	&__title-link {
		color: var(--black);
		text-decoration: none;
	}

	&__desc {
		position: relative;
		flex-grow: 1;
		margin-bottom: 20px;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			height: 35px;
			background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
			content: "";
		}

		p {
			overflow: hidden;
			max-height: 110px;
			font-size: 14px;
		}
	}
}
