.card {
  display: flex;
  flex-direction: column;
  width: var(--cardWidth);
  margin: 0 10px;

  border: var(--borderGrey);
  border-top: 0;
  border-radius: var(--borderRadius);

  --cardWidth: 290px;

  &__thumbnail {
    width: var(--cardWidth);
    height: 216px;
    margin: 0 -1px;

    background-color: #cccccc;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;

    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
  }

  &__metadata,
  &__author {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 18px;
    color: var(--gray);

    a {
      color: var(--gray);
      text-decoration: none;

      transition: color 0.15s ease-in-out;

      &:hover {
        color: var(--red);
      }
    }
  }

  &__author {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__views {
    &::after {
      content: "•";

      display: inline-block;
      margin: 0 6px;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 45px;
    margin-bottom: 2px;
    overflow: hidden;

    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;

    a {
      color: var(--black);
      text-decoration: none;
    }
  }

  &__desc {
    flex-grow: 1;
    margin-bottom: 20px;

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      font-size: 14px;
      text-overflow: ellipsis;
      word-break: break-word;

      -webkit-line-clamp: 6;
    }
  }
}
