:root {
	--white: #fff;
	--black: #212121;
	--red-50: #ffebee;
	--red-900: #b71c1c;
	--grey-200: #eee;
	--grey-300: #e0e0e0;
	--grey-400: #bdbdbd;
	--grey-600: #757575;
	--blue-700: #1565c0;
	--border-radius: 2px;
	--border-radius-2x: 4px;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

html {
	color: var(--black);
	font-size: 16px;
	font-family: "Arial", sans-serif;
	line-height: 1.3;
}
