.slider {
	margin: 0 -5px;
	width: 310px;

	@media only screen and (min-width: 375px) {
		margin: 0 auto;
	}

	@media only screen and (min-width: 640px) {
		width: 620px;
	}

	@media only screen and (min-width: 940px) {
		width: 930px;
	}

	@media only screen and (min-width: 1280px) {
		width: 100%;
	}

	&__content {
		position: relative;
		overflow: hidden;

		&:active {
			cursor: grab;
		}
	}

	&__track {
		display: flex;
		transition: transform var(--transition-duration-primary) ease-in-out 0s;
		user-select: none;
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
		color: var(--grey-600);
	}

	&__btn {
		padding: 10px 20px;
		width: 75px;
		box-shadow:
			0 3px 1px -2px rgba(0, 0, 0, .2),
			0 2px 2px 0 rgba(0, 0, 0, .14),
			0 1px 5px 0 rgba(0, 0, 0, .12);
		font-size: var(--font-size-sm);

		&:disabled {
			box-shadow: none;
		}
	}

	&__current-page {
		padding: 0 10px;
		width: 45px;
		text-align: center;
		user-select: none;
	}
}
